*.log
dynamic/.htaccess
dynamic/sitemap.xml
dynamic/sitemap.xml.gz
dynamic/wp-config.php
dynamic/wp-admin/
dynamic/wp-includes/
dynamic/wp-content/*.php
dynamic/wp-content/backup-db/
dynamic/wp-content/backups/
dynamic/wp-content/blogs.dir/
dynamic/wp-content/cache/
dynamic/wp-content/upgrade/
dynamic/wp-content/uploads/
dynamic/wp-content/languages/
dynamic/wp-content/plugins/
dynamic/*.php
dynamic/*.txt
dynamic/*.html