!!!
%html{:lang => "pt-br"}
	%head
		%meta{:charset => "UTF-8"}/
		%title Cases | R Brasil Eventos
		%link{:rel => "stylesheet", :href => "css/screen.css"}/
	%body.archive
		%header.head{:role => "banner"}
			.wrap
				%h1.logo<
					%a{:href => "index.html"} R Brasil Eventos
				%nav.nav{:role => "navigation"}
					%ul.menu
						%li.menu-item<
							%a{:href => "sobre.html"} Sobre
						%li.menu-item<
							%a{:href => "cases.html"} Cases
						%li.menu-item<
							%a{:href => "marcas.html"} Marcas
						%li.menu-item<
							%a{:href => "#"} Clientes
						%li.menu-item<
							%a{:href => "#"} Contato
					.social
						%a.icon.facebook{:href => "#", :target => "_blank"} Facebook
						%a.icon.instagram{:href => "#", :target => "_blank"} Instagram
						%a.icon.youtube{:href => "#", :target => "_blank"} Youtube
		%hr/
		%main.main{:role => "main"}
			%article.entry
				.thumbnail.cover{:style => "background-image: url(img/group.jpg)"}
					%img{:src => "img/group.jpg", :alt => ""}/
				.wrap.row
					%h1.h4
						Salão do Automóvel 2015
						%small Renaut
					.content
						%p Recepcionistas e promotores são peças-chave para o sucesso de qualquer evento ou ação promocional.
						%p Por isso, trabalhamos como elementos facilitador, identificado, absorvendo e solucionando qualquer problema com antecedência, gerando tranquilidade e agilizando processos.
					.meta
						%p
							Agência:
							%strong B Ferraz
							%br/
							Cliente:
							%strong Renaut
						%p
							Período: Maio 2015
							%br/
							Cidade: São Paulo/SP
							%br/
							Dado X: ARHFHFHF
					.masonry
						%h2.h1 Galeria de Imagens
						.grid
							.grid-sizer
							.gutter-sizer
							.grid-item.w2x.h3x{:style => "background-image: url(http://dummyimage.com/470x490)"}
								%a{:href => "#"}<
									%img{:src => "http://dummyimage.com/470x490", :alt => "", :width => "470", :height => "490"}/
							.grid-item.w4x.h2x{:style => "background-image: url(http://dummyimage.com/470x490)"}
								%a{:href => "#"}<
									%img{:src => "http://dummyimage.com/470x490", :alt => "", :width => "470", :height => "490"}/
							.grid-item{:style => "background-image: url(http://dummyimage.com/470x490)"}
								%a{:href => "#"}<
									%img{:src => "http://dummyimage.com/470x490", :alt => "", :width => "470", :height => "490"}/
							.grid-item{:style => "background-image: url(http://dummyimage.com/470x490)"}
								%a{:href => "#"}<
									%img{:src => "http://dummyimage.com/470x490", :alt => "", :width => "470", :height => "490"}/
							.grid-item.w2x.h2x{:style => "background-image: url(http://dummyimage.com/470x490)"}
								%a{:href => "#"}<
									%img{:src => "http://dummyimage.com/470x490", :alt => "", :width => "470", :height => "490"}/
							.grid-item.w3x.h2x{:style => "background-image: url(http://dummyimage.com/470x490)"}
								%a{:href => "#"}<
									%img{:src => "http://dummyimage.com/470x490", :alt => "", :width => "470", :height => "490"}/
							.grid-item.w2x{:style => "background-image: url(http://dummyimage.com/470x490)"}
								%a{:href => "#"}<
									%img{:src => "http://dummyimage.com/470x490", :alt => "", :width => "470", :height => "490"}/
					.navigation
						%a.prev{:href => "#"}<
							%small Case anterior:
							Conferência Havaianas 2014
						%a.next{:href => "#"}<
							%small Próximo case:
							Viva a Tunaína!
						%a.all{:href => "#"}<
							Ver todos
							%br>
							os cases
		%hr/
		%footer.foot{:role => "contentinfo"}
			.wrap
				%address.vcard
					%span.fn.org R Brasil Eventos
					%span.adr
						%span.street-address Leandro Dupret, 54
						\- Vila Clementino -
						%span.locality São Paulo
						\-
						%span.region SP
					%br/
					%span.tel (011) 2308-5158
					2309-5158
					%a.email{:href => "mailto:contato@rbrasileventos.com.br"} contato@rbrasileventos.com.br
				.social
					%a.icon.facebook{:href => "#", :target => "_blank"} Facebook
					%a.icon.instagram{:href => "#", :target => "_blank"} Instagram
					%a.icon.youtube{:href => "#", :target => "_blank"} Youtube
		%script{:src => "http://code.jquery.com/jquery-1.11.3.min.js"}
		%script{:src => "js/scripts.js"}
