!!!
%html{:lang => "pt-br"}
	%head
		%meta{:charset => "UTF-8"}/
		%title Cases | RBrasil Eventos
		%link{:rel => "stylesheet", :href => "css/screen.css"}/
	%body.page-marcas
		%header.head{:role => "banner"}
			.wrap
				%h1.logo<
					%a{:href => "index.html"} R Brasil Eventos
				%nav.nav{:role => "navigation"}
					%ul.menu
						%li.menu-item<
							%a{:href => "sobre.html"} Sobre
						%li.menu-item<
							%a{:href => "cases.html"} Cases
						%li.menu-item<
							%a{:href => "marcas.html"} Marcas
						%li.menu-item<
							%a{:href => "#"} Clientes
						%li.menu-item<
							%a{:href => "#"} Contato
					.social
						%a.icon.facebook{:href => "#", :target => "_blank"} Facebook
						%a.icon.instagram{:href => "#", :target => "_blank"} Instagram
						%a.icon.youtube{:href => "#", :target => "_blank"} Youtube
		%hr/
		%main.main{:role => "main"}
			.welcome.cover{:style => "background-image: url(img/man.jpg)"}
				.wrap
					%blockquote.content
						%p Sei que posso encontrar num único lugar tudo o que preciso pra atender todas as demandas do meu cliente. Só a R Brasil me dá esse subsídio.
						%footer.footer<
							Alceu Vasconcelos
							%small Gerente de produção da neogama
			.brands.wrap.row
				%h2.h1 Nossos clientes
				%ul.brands-list
					- 12.times do |o|
						%li.brands-item<
							%img{:src => "http://dummyimage.com/220x220", :alt => "", :width => "200", :height => "200"}/
			.brands.wrap.row
				%h2.h1 Marcas que já atendemos
				%ul.brands-list
					- 12.times do |o|
						%li.brands-item<
							%img{:src => "http://dummyimage.com/220x220", :alt => "", :width => "200", :height => "200"}/
		%hr/
		%footer.foot{:role => "contentinfo"}
			.wrap
				%address.vcard
					%span.fn.org RBrasil Eventos
					%span.adr
						%span.street-address Leandro Dupret, 54
						\- Vila Clementino -
						%span.locality São Paulo
						\-
						%span.region SP
					%br/
					%span.tel (011) 2308-5158
					2309-5158
					%a.email{:href => "mailto:contato@rbrasileventos.com.br"} contato@rbrasileventos.com.br
				.social
					%a.icon.facebook{:href => "#", :target => "_blank"} Facebook
					%a.icon.instagram{:href => "#", :target => "_blank"} Instagram
					%a.icon.youtube{:href => "#", :target => "_blank"} Youtube